<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
   <center>
    <div class="active item"><%= image_tag('/assets/ins_limo.jpg', :size => "500x300") %></div>
    <div class="item"><%= image_tag('/assets/dallas-lincoln-limo.jpg', :size => "500x300") %></div>
    <div class="item"><%= image_tag('/assets/van7_inside.jpg', :size => "500x300") %></div>
    <div class="item"><%= image_tag('/assets/inside_white_stretched_escalade.jpg', :size => "500x300") %></div>
    <div class="item"><%= image_tag('/assets/inside2.jpg', :size => "500x300") %></div>
    <div class="item"><%= image_tag('/assets/van_caru1.jpg', :size => "500x300") %></div>

   </center>
  </div>
  <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
