<% provide(:title, 'Help') %>
<div class="row">
  <div class="span6" style="text-align: justify">
    <h1>Help +</h1>
     <h5>Как узнать цену аренды лимузина?</h5>
       <p>        
         Если Вам требуется лимузин или вип минибас, если у вас есть вопрос по условиям и ценам - разместите заказ:
          <%= link_to 'Разместить заказ на сайте', new_contract_path, class: "btn btn-success btn-large" %>
       </p>
      <h5>Сколько это стоит?</h5>
       <p>
        Бесплатно. Вы бесплатно размещаете заказ и бесплатно получаете предложения. Вы бесплатно выбираете предложения.        </p>
      <h5>Требуется ли регистрация?</h5>
        <p>Для <%= link_to 'размещения заказа', new_contract_path %> регистрация не требуется. Каждый заказ получает свой уникальный Пин-код который высылается на email заказчика. Этот Пин-код является средством аутентификации Заказчика и необходим для всех операций с заказом на сайте.
        </p>
        <p>Если вы владелец лимузина или випбаса и хотите делать предложения заказчику вам требуется регистрация. <%= link_to 'Регистрация', signup_path %> на сайте позволит иметь рейтинговую историю и позволяет Заказчику выбирать предложения не только по фактору цены. Также регистрация позволяет размещать фотографии в предложениях.
        </p>
       <h5>Как происходит размещение заказа?</h5>
        <p>После <%= link_to 'заполнения и отправки формы заказа', new_contract_path %>, Заказчик получает письмо с Пин-кодом и адресом заказа.</p>
        <p>Получив это письмо заказчик должен пройти по адресу заказа и подтвердить получение заказа. Эта процедура позволяет избавится от спама на сайте. До тех пор пока заказ не подтвержден он не виден на <%= link_to 'странице открытых заказов', contracts_path %> и на него не могут поступать предложения о выполнении.</p>
        <h5>Мы владеем лимузинами и нас интересуют новые заказчики</h5>
         <p><%= link_to 'Регистрируйтесь', signup_path %> на сайте ищите интересные заказы и делайте свои предложения. БЕСПЛАТНО. Компании бесплатно регистрируются и бесплатно делают свои предложения заказчикам. Мы сервисная компания в области ХайТек. Мы не сервис бесплатных объявлений и не оказываем услуг рекламы. мы будем удалять те предложения которые содержат контактную информацию.</p>
       <h5>Как заказчик узнает о новых предложениях?</h5>
        <p>Информация о новых предложениях поступает Заказчику на адрес электронной почты указанный при размещении заказа.</p>
        <p>Мы также можем активировать службу уведомления Заказчика через SMS. Если это требуется, напишите нам</p>
       <h5>Может ли заказчик закрыть заказ?</h5>
         <p>Открытый заказ может быть закрыт Заказчиком в любой момент.</p>
         <p>Так же открытый заказ закрывается для новых предложений после принятия любого предложения Заказчиком</p>
       <h5>Может ли предложение быть отозвано?</h5>
         <p>До тех пор пока предложение не принято Заказчиком оно может быть отозвано. Регистрация компаний на сайте позволяет компании автовладельцу иметь всю базу собственных предложений и оперировать ими.</p>
        <h5>Что делать если забыт Пин-код?</h5>
         <p>Пишите нам с адреса электронной почты который был указан при размещении заказа и мы пришлем вам новый.</p>
        <h5>У меня изменился почтовый ящик?</h5>
         <p>Сообщите нам если у вас сменился почтовый ящик.</p>
         <p>Мы можем выслать Пин-код SMS на номер телефона указанный при размещении Заказа.</p>
        <h5>Как уведомить заказчика о нашем предложении через SMS?</h5>
         <p>Очень хорошо. Именно за это и есть наш доход. 50 рублей за одно SMS. Напишите нам и мы подключем к вашему эккаунту услугу уведомления через SMS.</p>
  </div>
    <div class="span5 thumbnail white-vatmann" style="margin: 80px 0px 0px 62px">
    <h4>
      Если вам требуется какая либо помошь и вы не можете найти ответ на сайте отправьте нам письмо.
    </h4>
    <%= form_tag('/posts') do %>
      <%= text_field_tag(:name, nil, placeholder: 'Имя') %>
        <%= email_field_tag(:email, nil, placeholder: 'Email') %>
          <%= phone_field_tag(:phone, nil, placeholder: 'мобильный телефон только цифры') %>
            <%= text_area_tag(:content, nil, placeholder: 'ваша проблема или предложения') %>
     <%= submit_tag 'Запросить помошь' %>
    <% end %>

    <%= image_tag('taxizi_frosty_vatmann.jpg') %>
  </div>
</div>


