<% provide(:title, "Вход") %>
<h1>Входите</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, 'Ваш еmail:' %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Ваш пароль:' %>
      <%= f.password_field :password %>

      <%= f.submit "Войти на сайт", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Зарегистрироватся? <%= link_to "Легко!", signup_path %></p>
    <p>А что делать если Вы <a href="#myModal" role="button" data-toggle="modal" data-target="#myModal">забыли пароль?</a></p>

  </div>
</div>
<%= render 'shared/modal' %>
