<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @contract.contractor_name %>.</h1>
    <p>
      На сайте http://taxizi.ru был размещен привязанный к Вашему почтовому ящику заказ:</p>
    <p>
      <%= @contract.date_rent %> </br>
      <%= @contract.body_contract %>
    </p>
    <p>
      Если это были Вы, пожалуйста перейдите на сайт по адресу http://taxizi.ru/contracts/<%= @contract.id %> и активируйте заказ.
    </p>
    <p>
ПИН-КОД: <%= @contract.created_at.to_i.to_s.split('').reverse.join[0..3] %>
    <p>Если это были не вы то ничего не делайте и заказ будет удален в течении 24 часов.</p>
Не отвечайте на это письмо. Письмо сгенерировано и отослано автоматической службой уведомления клиентов.
  </body>
</html>
