<h1><%= @contract.t_car %></h1>
 
  <ul>
    <% if @contract.close_contract? %>
      <li><span class="badge badge-error"> Закрыта</span></li>
    <% end %>
      <li><span class="badge badge-warning"><%= @contract.date_rent.to_s(:ru_date) %> в <%= @contract.time_rent %></span> </li>
      <li><span class="badge badge-success"><%= @r_hour = @contract.lease_time %> 
  <% if @r_hour > 4 %> 
     часов аренды</span></li>
  <% else %>
     часа аренды</span></li>
  <% end %>
<li><span class="badge">для <%= @contract.contractor_name %></span></li>
</ul>


<% if !current_user.nil? && current_user.admin? %>
 <%= @contract.contractor_mphone %> < <%= @contract.contractor_email %> >
 <%= link_to "delete", @contract, method: :delete, data: { confirm: "You sure?" } %>
| <%= link_to "edit", edit_contract_path(@contract.id) %>
<% end %>

  <p> <%= @contract.body_contract %> </p>
<hr/>
 

