<div>
<table bgcolor="#E9E9A4" cellpadding="8px" class="contract">
  <tr> 
   <td rowspan="2"> <h5>Чего изволите?</h5> </td>
    <td> <%= f.radio_button :t_car, "limousin", checked: true %> </td>
    <td> л и м у з и н </td>
  </tr>
  <tr>
    <td><%= f.radio_button(:t_car, 'VIP minivan') %></td>
    <td> VIP минивен </td>
  </tr>

  <tr><th colspan ="3"><hr/></th></tr>
  <tr>
    <td> <h5>Когда подать: </h5> </td>
    <td>
      <div class="input-prepend">
       <span class="add-on">дд.мм.гггг</span>
<%= f.text_field :date_rent, placeholder: '08.03.2013', id: "datepicker", class: "datepicker input-small"  %>
      </div>
    </td>
    <td>
       <div align="right" class="input-prepend">
       <span class="add-on">чч:мм</span>
<%= f.text_field :time_rent, placeholder: '15:30', class: "input-small" %>
       </div>
    </td>
  </tr> 
  <tr>
    <td><h5>А на сколько часов арендуете:</h5> </td>
    <td>
       <div class="input-prepend">
       <%= f.number_field :lease_time, value: '2', in: 2...24, class: 'input-small' %>
       <span class="add-on">часа/часов</span>
       </div>
     </td>
    <td> </td>
  </tr>
  <tr>
    <td> <h5>Условия заказа и пожелания: </h5></td>
    <th colspan="2"><%= f.text_area :body_contract, placeholder: "Подать Москва, ул.Смоленская д.10. Поедем в ЗАГС, на Красную площадь и в аэропорт Внуково. Там отпускаем машину. У невесты алергия на табачный дым. Нам нравится белый цвет.", rows: 4 %></th>
  </tr> 
  <tr><th colspan ="3" ><hr/></th></tr> 
  <tr>
    <td><h5>Мобильный телефон и email заказчика:</h5> </td>
    <td>
      <div class="input-prepend">
       <span class="add-on">+7</span>
        <%= f.phone_field :contractor_mphone, placeholder: '9161112233', class: "input-medium" %>
       </div>
    </td>
    <td>
      <div align="right"  class="input-prepend">
       <span class="add-on">@</span>
        <%= f.email_field :contractor_email, placeholder: 'email@mail.ru', class: "input-medium" %>
      </div>
    </td>
  </tr> 
  <tr>
    <td><h5>Имя:</h5></td>
    <td>
        <div class="input-prepend">
        <span class="add-on">:)</span>
        <%= f.text_field :contractor_name, placeholder: 'Например Виктор', class: "input-medium" %>
        </div>
    </td>
    <td></td>
  </tr>
  <tr>
   <td>
   </td>
   <th colspan="2">
     <p align="left" class="muted">
      <%= check_box_tag 'agree', true %><small>я принимаю <%= link_to "пользовательское соглашение", about_path %></small>
      </p>
      <%= f.submit("Отправить заявку", class: "btn btn-large btn-success", onclick: "yaCounter21217093.reachGoal('ORDER'); return true;") %>
   </th>
  </tr> 
</table>
</div>
