<h1><%= @contract.t_car %></h1>
<h4> 
<ul>
<% if @contract.close_contract? %>
<li> Закрыта</li>
<% end %>
<li><%= @contract.date_rent.to_s(:ru_date) %> в <%= @contract.time_rent %> </li><li><%= @r_hour = @contract.lease_time %> 
  <% if @r_hour > 4 %> 
     часов аренды</li>
  <% else %>
     часа аренды</li>
  <% end %>
<li>для <%= @contract.contractor_name %> </li>
</ul>
</h4>

<% if !current_user.nil? && current_user.admin? %>
 <%= @contract.contractor_mphone %> < <%= @contract.contractor_email %> >
 <%= link_to "delete", @contract, method: :delete, data: { confirm: "You sure?" } %>
| <%= link_to "edit", edit_contract_path(@contract.id) %>
<% end %>

  <p> <%= @contract.body_contract %> </p>
<hr/>
 

