<div class="span8"  style="margin-bottom: 30px"> 
     <span style="color: #696">
       <%= contract.date_rent.to_s(:ru_date) %> 
       <%= contract.time_rent %>
     </span> 
     <span style="color: #669">
      <strong>
       <%= contract.t_car.upcase %>
      </strong>
     </span> 
     <span style="color: #d96">
      на <%= contract.lease_time %> часа/ов
     </span> 
     <span>
       для <%= contract.contractor_name %>
     </span> 
     <% if !current_user.nil? && current_user.admin? %>
      <br/> 
       < <%= contract.contractor_email %> >
       <%= contract.contractor_mphone %> 
       [ <%= link_to "delete", contract, method: :delete, data: { confirm: "You sure?" } %>
       |   <%= link_to "edit", edit_contract_path(contract.id) %>
       ]<br/>
     <% end %>

  <span class="content">   
     <%= link_to wrap(contract.body_contract), contract %>
  </span>
  <small>
   Предложений 
      <%= contract.offers.count %>
  </small>
</div>




