<% provide(:title, 'Открытые заказы') %>
<div class="row">
  <aside class="span2">
    <%= render 'search_form' %>
  </aside>
  <div class="span10" style: "margin-top: -100px">
    <% if signed_in? %>
      <h4>
        Открытые заказы
      </h4>
       <%= will_paginate %>
          <%= render @contracts %>
       <%= will_paginate %>
     <% else %>
       <h2><%= link_to 'Если вы хотите принимать заказы и делать свои предложения заказчику зарегистрируйтесь пожалуйста в качестве исполнителя заказов', signup_path %></h2>
       <center><%= image_tag('limo_300-200.png') %></center>
     <% end %>
  </div>
</div>
