<% provide(:title, "Новый заказ") %>
<div class="row">
  <div class="span2 left-label white-vatmann thumbnail">
     <small>
      <ul>
       <li>
         Вместе с нами лучшии машины стали доступнее.
       </li>
       <li>
         Разместите заявку и ждите предложений от владельцев лимузинов и минивэнов. 
       </li>
       <li>
         Никаких звонков: получайте предложения через почту или SMS. Это реально быстро и удобно.
       </li>
       <li> 
         Выбирете реально лучшие автомобили по удивительно доступным ценам.
       </li>
     </ul>
   </small> 
 </div>
   <%= image_tag('limo.png') %>    
    <div class="span9 thumbnail white-vatmann" style="margin-top: -18px;">
       <%= form_for(@contract, html: { onSubmit: 'return checkedForm(this)' }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
         <%= render 'contract_field', f: f %>
      <% end %>
    </div>
 </div>
<%= render 'shared/yandex_order' %>

<%= render 'check_form' %>
