<% provide(:title, "#{@contract.id}") %>

<div class="row">
   <aside class="span4">

<% unless @contract.active? %>
   <section>
    <%= form_tag("/contracts/#{@contract.id}/valid", :method => "get") do %>
      <%= render 'valid_field' %>
       <%= submit_tag("Подтвердить предзаказ", class: "btn btn-large btn-success") %>
 <% end %>
   </section>
<% end %>
   
   <section>
    <% if @contract.active? && !@contract.close_contract? %>
       <% if signed_in? %>
           <%= render 'shared/offer_form' %>      
       <% end %>
    <% end %>
  </section>
  <section>
    
<p class="muted"> <%= link_to 'Разместите', new_contract_path %> предзаказ и выбирете лучшее предложение. Регистрация не требуется.</p> 

<p class="muted">Есть предложение? Вы должны <%= link_to "войти", signin_path %> на сайт под своим логином и паролем.</p>
<p class="muted"> Если вы еще не зарегистрировались сделайте это сейчас.</p>

  </section>
   </aside>

 <div class="span8">
  <%= render 'contract_preview_big_show' %>
  <% if @contract.offers.any? %>
       <h2> Всего <%= @c_o_c = @contract.offers.count %> 
         <% @c_o_c = @c_o_c.to_s.split('')[-1].to_i %>
         <% if @c_o_c > 4  or @c_o_c  == 0 %>
            предложений
         <% elsif @c_o_c == 1 %> 
            предложениe
         <% else %>
            предложения
         <% end %>
       </h2>
       <ol>
          <%= render @offers %>
       </ol>
  <% end%>

 </div>
</div>
