<% provide(:title, "#{@contract.id}") %>

<div class="row">
  <aside class="span4">
   <div style="margin-top: 50px">
    <% unless @contract.active? %>
     <section class="roll-label orange-paper">  
      <section style="margin: 10px;">
        <center>
          <%= form_tag("/contracts/#{@contract.id}/valid", :method => "get") do %>
           <%= render 'shared/valid_field' %>
            <%= submit_tag("Подтвердить заказ", class: "btn btn-success") %>
          <% end %>
        </center>
       <p align="justify">
        <b>
          Признавая желание заказчика избежать процедуры регистрации на сайте,  
          мы используем ПИН-КОД для распознавания. 
          Процедура подтверждения заказа позволяет избежать спама и ложных запросов. 
          <br/>
          ВНИМАНИЕ: При отсутствии подтверждения заказ удаляется в течении 24 часов после его формирования.
          До тех пор пока заказ не подтвержден, он не доступен для поиска и его не видно на 
          <%= link_to 'странице заказов.', contracts_path %>
        </b>
        <br/>
        <small>
         Если вы забыли пин-код перейдите на страницу восстановления пин-кода. Если вы не получили пин-код обратитесь в службу обслуживания клиентов. 
        </small>
       </p>
      </section>
     </section>   
    <% end %>
    <% if  @contract.active? && !@contract.close_contract? %>
      <% if signed_in? %>
        <section>   
          <%= render 'shared/offer_form' %>
        </section>
      <% else %>
       <section>
        <span class="label label-info">
        <b> Заказчик в любой момент может...</b><hr/>
          <%= form_tag("/contracts/#{@contract.id}/close", :method => "get") do %>
              <%= render 'shared/valid_field' %>
              <%= submit_tag("Закрыть заявку", class: "btn btn-mini") %>
          <% end %>
        </span>
        </section>
        <section class="roll-label white-vatmann">
          <section style="margin: 10px">   
           <p class="muted"  align="justify"> <%= link_to 'Разместите', new_contract_path %> заказ и возьмите лучшее предложение. Регистрация не требуется.</p> 
           <p class="muted"  align="justify">Есть предложение? Вы должны <%= link_to "войти", signin_path %> на сайт под своим логином и паролем.</p>
           <p class="muted"  align="justify"> Если вы еще не зарегистрировались сделайте это сейчас. <%= link_to 'Регистрация.', signup_path %> </p>
         </section>
        </section>
      <% end %>
     <% end %>
     <% if @contract.close_contract? %>
       <section class="roll-label rose-paper">
         <section style="margin: 10px">
          <h4>Заказ закрыт.</h4>
            <p class="muted">После закрытия заказа новые предложения не принимаются.</p>
        </section>
       </section>
     <% end %>
   </div>
  </aside>

 <div class="span8">
  <%= render 'contract_preview_big_show' %>

  <% if !@contract.close_contract? %>

     <% if !@offers.nil? %>
       <h3>
        <%= @c_o_c = @offers.count %> 
         <% @c_o_c = @c_o_c.to_s.split('')[-1].to_i %>

         <% if @c_o_c > 4  or @c_o_c  == 0 %>
            предложений
         <% elsif @c_o_c == 1 %> 
            предложениe
         <% else %>
            предложения
         <% end %>

        </h3>
        <ul class="thumbnails">
           <%= render @offers %>
        </ul>
 
     <% end %>

   <% else %>

     <% if !@offers.nil? %>
         <h3> Принятое предложениe </h3>
           <ul class="thumbnails">
              <%= render @offers %>
           </ul>
      <% else %>
         <h3> Нет принятых предложений </h3>
      <% end %>

   <% end %>

 </div>
</div>

