
<%= f.label :name, "Ваше имя" %>
<%= f.text_field :name, placeholder: 'Не меньше 4 букв или цифр' %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :mphone, "Мобильный телефон" %>
<%= f.text_field :mphone, placeholder: 'Только цифры. Например: 9635557788' %>

<%= f.label :password, "Пароль" %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Подтверждение пароля" %>
<%= f.password_field :password_confirmation, placeholder: "Можно не вводить, но стоит ли рисковать?" %>
<h5>Добавить фотографии автомобиля? Просто.</h5> 
<%= file_field_tag('user_attached_assets_asset', multiple: true, size: "15", name: "user[attached_assets_attributes][][asset]", placeholder: "Выбрать фотографии", class: "btn btn-small") %>
