
<%= f.label :name %>
<%= f.text_field :name, placeholder: 'min. 4 letters and digits' %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :mphone, "Mobile phone" %>
<%= f.text_field :mphone, placeholder: 'only digits please' %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>
<h5>Добавить фото автомобиля? Просто.</h5> 
<%= file_field_tag('user_attached_assets_asset', multiple: true, size: "15", name: "user[attached_assets_attributes][][asset]", placeholder: "Выбрать фотографии", class: "btn btn-small") %>
