
<%= f.label :name, "Ваше имя" %>
<%= f.text_field :name, placeholder: 'Не меньше 4 букв или цифр' %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :mphone, "Мобильный телефон" %>
<%= f.text_field :mphone, placeholder: 'Только цифры. Например: 9635557788' %>

<%= f.label :password, "Пароль" %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Подтверждение пароля" %>
<%= f.password_field :password_confirmation, placeholder: "Можно этого не делать, но стоит ли рисковать?" %>
Получать информацию о <a class='linktooltip' data-original-title="Все новые заказы выбранной Вами категории будут поступать на ваш email" rel="popover" href="#">новых заказах</a>
<ul class="unstyled" style="margin-left: 20px; margin-bottom: 20px">
  <li><%= check_box_tag 'user[limo]', true, true %> лимузинов</li>

  <li><%= check_box_tag 'user[van]', true %> VIP минивэнов</li>
</ul>
<h5>
Добавить фотографии автомобиля? <a class='linktooltip' data-original-title="Зажав Ctrl или Shift выберите 6 фото в формате jpeg, jpg, png до 200kb  каждая и отношения сторон 2:1 т.е. 600х300 400х200 и т.п. Помните загрузка Ваших файлов на сайт занимает время. Не волнуйтесь." rel="popover" href="#">Просто!</a></h5> 
<%= file_field_tag('user_attached_assets_asset', multiple: true, size: "15", name: "user[attached_assets_attributes][][asset]", placeholder: "Выбрать фотографии", class: "btn btn-small") %>

