<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>
<h3>Можете заполнить только желтые поля.</h3>
<div class="row">
  <div class="span6 offset3 blue-paper">
   <div style="margin: 20px">
    <%= form_for @user, :html => { :multipart => true, onSubmit: 'return checkedForm(this)' } do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
  <hr>  
  <small>
    Нажимая кнопку «Зарегистрироваться», я принимаю условия <%= link_to 'Соглашения', about_path %> и даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных <%= link_to 'Соглашением.', about_path %>  
   </small> 
     <br>
      <%= check_box_tag 'agree' %> Я согласен.
     <hr>
      <%= f.submit "Зарегистрироваться", class: "btn btn-warning" %>

    <% end %>
   </div>
  </div>
</div>
<%= render 'check_form' %>
