<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>
<h3>Можете заполнить только желтые поля.</h3>
<div class="row">
  <div class="span6 offset3 blue-paper">
   <div style="margin: 20px">
    <%= form_for @user, :html => { :multipart => true, onSubmit: 'return checkedForm(this)' } do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
  <hr>  
  <p> 
    <small>
      <%= check_box_tag 'agree' %> Я принимаю  <%= link_to 'пользовательское соглашения', about_path %>
    </small>
   </p>
  
      <%= f.submit "Зарегистрироваться", class: "btn btn-warning" %>

    <% end %>
   </div>
  </div>
</div>
<%= render 'check_form' %>
