<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
	<span class="badge badge-inverse"><h1> <%= @user.name %> </h1> </span>
        <span class="badge badge-important"><%= @user.email %></span>  
        <span class="badge badge-warning"><%= @user.mphone %></span>
        <span class="badge badge-success"><%= @user.offers.count %></span>
    
    <span class="badge badge-info">Фотографии</span>
      <% @user.attached_assets.each do |use| %>
      <%= image_tag(use.asset.url(:middle)) %>
       <span class="label labal-inverse">
        <%= use.asset.url.split('/').last.split('?').first %>
       </span> 
       <br/>
    <% end %>
    </section>
  </aside>
  <div class="span8">
      <% if @contracts.any? %>
       <h2> Смотрит на <%= @contract_count = @contracts.count %> 
         <% @contract_count_lastint = @contract_count.to_s.split('')[-1].to_i %>
         <% if @contract_count_lastint > 4  or @contract_count_lastint  == 0 %>
            предзаказов
         <% elsif @contract_count_lastin == 1 %> 
            предзаказ
         <% else %>
            предзаказа
         <% end %>
        </h2>

       <ol>
          <%= render @contracts %>
       </ol>
  <% end%>

  </div>
</div>
