<div class="field">
  <%= form_for(@offer) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <h4>Ваше предложение?</h4>
         <%= f.text_field :price, placeholder: "14000" %>
         <%= f.text_area :adword, placeholder: "Слова ободрения и рекламы..." %>
         <%= f.hidden_field :contract_id, value: @contract.id %>

         <%= f.submit "Предложить", class: "btn btn-large btn-primary" %>
   <% end %>
</div>
