<li id="<%= offer.id %>">
  <span class="content">
     <%= link_to offer.user.name, user_path(offer.user) %> =
     <%= offer.price %> рублей.
  </span>
  <span class="timestamp">
    <%= offer.adword %>
  </span>
  <% if !current_user.nil? && current_user.admin? %>
  <br/>  <%= link_to 'delete', offer, method: :delete, data: {confirm: "Delete offer?"} %>
   <% end %>
</li>
<hr/>

