<% provide(:title, "Принять предложение")%>
<div class="container">
  <div class="row">
  <aside>
  </aside>
    <div class="span8 white-vatmann">
      <div style="margin: 0px 20px 0px 20px">
        <h1>Согласие</h1> 
          <h2>принятия предложения о исполнении заказа и обмене контактами с исполнителем</h2>

<!-- Carousel -->

<% size_collection = @offer.user.attached_assets.size %>
<% if size_collection > 0 %>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <% photo_item_class = 'active item' %>
       <% @offer.user.attached_assets.each do |use| %>
       <div align='center' class="<%= photo_item_class %>"><%= image_tag(use.asset.url(:normal)) %> </div>
       <% photo_item_class = 'item' %>
      <% end %>
    </div>
    <!-- Carousel nav -->
       <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
<% else %>
  <center><%= image_tag('default_photo.jpg') %></center>      
<% end%>

       <p> <strong><%= link_to @offer.user.name, @offer.user %> предлагает исполнить вашу заявку за <%= @offer.price %> рублей.</strong> </p>
 <p align="right">    <i> <%= wrap(@offer.adword) %> </i> </p>

<ul>
  <li>
    <span class="label label-inverse">
      <%= @offer.contract.contractor_name %>
    </span>
  </li>
  <li>
    <span class="label label-info"> 
      <%= @offer.contract.t_car %>
    </span>
  </li>
  <li>
   <span class="label label-warning"> 
     <%= @offer.contract.date_rent %> в <%= @offer.contract.time_rent %>
   </span>
  </li>
  <li>
    <span class="label label-success">
     аренда на <%= @offer.contract.lease_time %> часов </span>
    </span>
  </li>
</ul>
 <blockquote><p> <%= @offer.contract.body_contract %> </p></blockquote>


<hr/>
       <p align="justify"> Если Вы согласны введите код активации и нажмите на кнопку "Принять предложение". После этого Вам будут высланы телефоны и email друг друга. </p>
     <%= form_tag("/offers/#{@offer.id}/bang", :method => "get") do %>
    <%= render '/shared/valid_field' %>
      <%= submit_tag("Принять предложение", class: "btn btn-small btn-success") %>
     <% end %>

    <% if !current_user.nil? && current_user.admin? %>
      <%= link_to '[delete]', @offer, method: :delete, data: {confirm: "Delete offer?"} %>
    <% end %>
   </div>
  </div>
</div>
