<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('taxizi.png'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to 'Заказать', new_contract_path %></li> 
          <li><%= link_to 'Открытые заказы', contracts_path %></li>
          <li><%= link_to "Помощь", help_path %></li>
          <% if signed_in? %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Моё! И выход. <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Моя страница", current_user %></li>
                <li><%= link_to "Редактировать профиль", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Выход", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Вход", signin_path %></li>
            <li><%= link_to "Регистрация", signup_path, class: "warning" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
